@model DevDay.Quiz.Models.Answer

<div class="row">
	<div class="large-8 columns">
	    <div class="large-12 columns">
	        @{
                ViewBag.Title = "Delete Answer";
            }

            <h2>Delete</h2>

            <h3>Are you sure you want to delete this?</h3>
            <fieldset class="radius grey-bground">
                <legend>Answer</legend>

                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Question.Text)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Question.Text)
                </div>

                <div class="display-label">
                     @Html.DisplayNameFor(model => model.SortOrder)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.SortOrder)
                </div>

                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Text)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Text)
                </div>

                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Correct)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Correct)
                </div>
            </fieldset>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                <p>
                    <input type="submit" class="small button" value="Delete" /> |
                    @Html.ActionLink("Back to List", "Index") |
                    @Html.ActionLink("Back to Question", "Edit", "Questions", new { id = Model.QuestionId}, null)
                </p>
            }        

	    </div>
	</div>
</div>


