@model DevDay.Quiz.Models.Session

<div class="row">
	<div class="large-8 columns">
	    <div class="large-12 columns">
	    @{
            ViewBag.Title = "Edit Session";
        }

        <h2>Edit</h2>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset class="radius grey-bground">
                <legend>Session</legend>

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Speaker)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Speaker)
                    @Html.ValidationMessageFor(model => model.Speaker)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Track)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Track)
                    @Html.ValidationMessageFor(model => model.Track)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Date)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </div>

                <p>
                    <input type="submit" class="small button" value="Save" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>        

	    </div>
	</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
