@model IEnumerable<DevDay.Quiz.Models.Session>

<div class="row">
	<div class="large-8 columns">
	    <div class="large-12 columns">
	        
            @{
                ViewBag.Title = "Sessions";
            }

            <h2>Sessions</h2>

	        <p>
	            @Html.ActionLink("Create New", "Create", null, new {@class = "small button"})
	        </p>

            @foreach (var item in Model)
	        {
	            <div class="accordion">
	                <h4 class="radius normal dark-grey-bground">@item.Title</h4>
	                <div class="acc-content radius grey-bground">
	                    <div class="display-label">
	                        @Html.DisplayNameFor(i => i.Speaker) : @item.Speaker
	                    </div>	                    
                        <div class="display-label">
                            @Html.DisplayNameFor(i => i.Track) : @item.Track
	                    </div>
                        <div class="display-label">
                             @Html.DisplayNameFor(model => model.Date) : @item.Date
                        </div>
	                    <div class="display-field">
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
                        |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
	                    </div>
	                </div>
	            </div>
            }

	    </div>
	</div>
</div>
