@model DevDay.Quiz.Models.Question

<div class="row">
	<div class="large-8 columns">
	    <div class="large-12 columns">
	    @{
            ViewBag.Title = "Create Question";
        }

        <h2>Create</h2>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset class="radius grey-bground">
                <legend>Question</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Text)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Text, new {@class = "radius"})
                    @Html.ValidationMessageFor(model => model.Text)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SortOrder)
                    <p class="smallText">Questions from parallel lectures need to have the same order</p>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SortOrder, new {@class = "radius"})
                    @Html.ValidationMessageFor(model => model.SortOrder)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Path)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Path, new {@class = "radius"})
                    @Html.ValidationMessageFor(model => model.Path)
                </div>

                <p>
                    <input type="submit"  class="small button" value="Create" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>        

	    </div>
	</div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
